**/.venv/
**/__pycache__/
**/.pytest_cache/
**/target/
**/.idea/
.env
*.pyc
marlabs_env/

**/.venv/
**/__pycache__/
**/.pytest_cache/
**/target/
**/.idea/
**/.vscode/
.env
**/.env
*.pyc
*.class
*.iml
marlabs_env/
.DS_Store
Thumbs.db